# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
.env
client/.env
server/.env

# Builds
dist/
build/
client/dist/
server/dist/

# Logs
*.log

# OS / Editor
.DS_Store
.vscode/
